<!-- <div id="splash-screen" class="splash-screen">
  <div id="lottie" class="lottie-container"></div>
</div> -->
<ion-content class="splash-screen">
  <div class="content">
    <div class="top-logo">
      <!-- <h1>dsdsd</h1> -->
      <img src="assets/splash-logo.png" class="logo" />
    </div>


    <div class="bottom-image">
      <img src="assets/illustration.png" class="job-image" />
    </div>

    
    <ion-spinner name="crescent" class="spinner"></ion-spinner>
  </div>
</ion-content>


