.language-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .language-item {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .language-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #511168;;
  }
  
  .language-details h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .language-details p {
    margin: 4px 0;
    font-size: 14px;
    color: #666;
  }

  .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.skill-chip {
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 14px;
  border: 1px solid #8B2BF1; /* KaamChor Purple */
  color: #8B2BF1;
  background-color: transparent;
  transition: 0.3s;
}

.skill-chip:hover {
  background-color: #f3e8fd; /* light purple bg on hover */
}

