<!-- <ion-footer> -->
  <ion-tabs >
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        HOME
      </ion-tab-button>
      <ion-tab-button tab="notifications">
        <ion-icon name="notifications"></ion-icon>
        NOTIFICATIONS
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        SETTINGS
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        PROFILE
      </ion-tab-button>
      <ion-tab-button tab="logout">
        <ion-icon name="power-outline"></ion-icon>
        LOG-OUT
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
<!-- </ion-footer> -->

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
