/* Row group flex settings */
.rws-group {
  display: flex;
  flex-wrap: wrap;
  // gap: 9px;
  justify-content: space-between;
  // margin-right: 3px;
}

/* Default for all screen sizes */
.rws-col {
  // flex: 1 1 calc(33.33% - 8px); /* 3 in a row */
  // min-width: 90px;
  // max-width: 33.33%;
padding-right: 0px;
padding-left: 0px;
padding-top: 0px;
padding-bottom: 0px;
}

/* Read, Write, Speak Labels */
.rws_label {
  font-size: 10px;
  white-space: nowrap;
  margin-top: 4px;
  // margin-right: 8px;
}

/* Checkbox size */
.rws_checkbox {
  --size: 10px;
  margin-bottom: 4px;
  // margin-left: 0px;
  // margin-top: 0px;

}

/* Flex align item center */
.rws-item {
  display: flex;
  align-items: center;
  padding: 0px;
}

/* Responsive adjustments for small screens */
// @media (max-width: 600px) {
//   .rws-col {
//     flex: 1 1 30%;
//     max-width: 30%;
//   }

//   .rws_label {
//     font-size: 14px;
//   }

//   .rws_checkbox {
//     --size: 20px;
//   }
// }




// ion-label.rws_label {
//   font-size: 10px;
// }

// ion-checkbox.rws_checkbox {
//   --size: 10px;
// }

ion-button.addlang_btn, ion-button.removelang_btn {
  --border-radius: 8px; 
     --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      height: 48px;
     font-size: 14px; 
     font-weight: 600; 
    //  text-transform: lowercase;
     text-transform: capitalize;
}

.icon-plus , .icon-minus{
  padding-right: 8px; 
  font-size: 20px; 
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #511168;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #511168;
}

span.highlight {
  color: #f00;
}

// file upload 
.custom-input-item {
  display: flex;
  flex-direction: column;
}

.file-upload-container {
  display: flex;
  align-items: center;
}

.file-name {
  flex: 1;
  padding-right: 10px;
  font-size: 16px;
  color: var(--ion-text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upload-icon {
  margin-left: auto;
  font-size: 24px;
  color: var(--ion-color-primary);
}

.upload-icon ion-icon {
  cursor: pointer;
}



.resume-container {
  margin: 20px; 
  // text-align: center; 
}

.resume-link {
  display: inline-block; 
  padding: 12px 24px; 
  background-color: #511168;
  color: white; 
  border-radius: 5px; 
  text-decoration: none; 
  font-size: 16px; 
  transition: background-color 0.3s ease; 
}

// .resume-icon {
//   // font-size: 24px;
//   // margin-right: 8px;
// }


.info-container {
  text-align: left;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
}

.position-label {
  display: block;
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #511168;
}

.info-description {
  font-size: 0.8rem;
  color: #666;
}

